<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.customviewprojdct">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomViewProjdct">
        <activity android:name=".activity.class_package.NestedScrollImageActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".activity.ScrollClashActivity">

        </activity>
        <activity android:name=".activity.TouchEventActivity" />
        <activity android:name=".activity.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="landscape">
            <!--             <intent-filter>-->
            <!--                 <action android:name="android.intent.action.MAIN" />-->
            <!--                 <category android:name="android.intent.category.LAUNCHER" />-->
            <!--             </intent-filter>-->
        </activity>
        <activity android:name=".activity.class_package.ClassOneActivity" />
        <activity android:name=".activity.class_package.ClassTwoActivity" />
        <activity android:name=".activity.class_package.ClassThreeActivity" />
        <activity android:name=".activity.class_package.ClassFourActivity" />
        <activity android:name=".activity.class_package.ClassFiveActivity" />
        <activity android:name=".activity.class_package.ClassSixActivity" />
        <activity android:name=".activity.class_package.ClassSevenActivity" />
        <activity android:name=".activity.class_package.ClassEightActivity" />
        <activity android:name=".activity.class_package.ClassTenActivity" />
        <activity android:name=".activity.class_package.ClassElevenActivity" />
        <activity android:name=".activity.class_package.ClassTwelveActivity" />
    </application>

</manifest>